@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .cur-product-top
    .wr-pr-image
      margin: 0
  #wrapper-categories
    display: none
  .not-main
    #wrapper-categories
      top: -92px
    .cat-menu
      max-width: 213px
    .cat-head
      line-height: 77px
      button
        line-height: 57px
  .full-product-info
    .product-name
      margin-top: 30px
  .cat-menu-products
    .wr-pagination
      .pull-left
        float: none
        text-align: center
        width: 100%
  #main-menu
    left: 100%
    position: fixed
    background: rgba(0, 0, 0, 0.9)
    color: white
    width: 100%
    height: 100%
    top: 0
    transition: .3s
    z-index: 99999
    overflow: auto
    padding-bottom: 40px
    form
      margin-top: 20px
      padding: 0 30px
    .flex-row
      display: block
      .pol
        display: none
      li
        a
          color: white
          display: block
          padding: 30px
          border-bottom: 1px solid rgba(white,.5)

  .mobile-close-menu
    margin: 10px 30px
    background: none
    font-size: 25px


  .orange-block
    background: $orange



/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .wr-add-t0-order
    margin: auto
    margin-top: 30px

  body
    font-size: 14px
  .middle-head
    padding: 20px 0
  .top-head
    padding: 20px 0
  .country-tel
    .pol
      margin: 5px
  .enter-shop
    margin: 0
  .icon-mail
    display: none !important
  #inputEmail
    width: 100%
    max-width: 100%
  #subscription
    padding: 30px 0
  #form-subscription
    input
      border-radius: 5px
    button
      margin: 10px 0
    .text
      text-align: center
      margin: 0 0 20px
  #social-links
    padding: 0
    text-align: center
    .pull-right
      float: none !important
    a
      img
        width: 50px
        height: auto
        margin: 0 20px
  #foot-1
    a
      line-height: 45px
@media only screen and (max-width : 650px)
  .modal-body
    padding: 15px 10px
  .s-tabs
    float: left
    margin-top: 20px
    ul
      li
        font-size: 10px
        margin-left: 5px
        &:first-child
          margin-left: 0
  #reviews
    ul
      li
        margin-bottom: 40px
        .user-img
          width: 50px
          height: 50px
        .wr-name-date-text
          margin-left: 10px
        ul
          margin-left: 20px
          margin-top: 40px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  .cur-product-top
    .img-suc
      margin: auto
      display: block
    .wr-pr-image
      margin: 20px auto
  .block-your-order
    padding: 10px 10px 20px
  .right-ordered
    .c-pr-img
      display: none
  .table-product
    .t-image
      display: none
    td
      text-align: left
      font-size: 12px !important
    .t-name
      width: 30%
    .input-val
      max-width: 45px
      margin: 0
      .btn-plus-min
        display: none
    .t-total,
    .t-price
      span
        display: block
    .t-count
      width: 8%
    .t-delete
      width: 4%
  #image-carousel
    .item
      width: 50px
      height: 50px
  .full-product-info
    .bnt-buy
      display: block
      margin: 20px 0
    .wr-price
      margin: 0
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .cart-image
    width: 30px
    height: 30px
    font-size: 20px
    line-height: 30px
  .main-cart
    font-size: 13px
    margin-top: -5px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  .full-product-info
    .tab-content
      iframe
        height: 200px


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  .full-product-info
    .tab-content
      iframe
        height: 300px

@media only screen and (min-width : 600px)
  #top-slides
    .item
      .old-price
        font-size: 20px
      .price
        font-size: 33px
      .wr-price
        margin-top: 53px
        margin-bottom: 20px
      h2
        font-size: 34px
      p
        font-size: 16px
      .btn-buy
        font-size: 20px
  .full-product-info
    .tab-content
      iframe
        height: 300px

/* Small Devices, Tablets */



@media only screen and (min-width : 768px)
  .link-news
    .news-image
      height: 268px
  .full-product-info
  .tab-content
    iframe
      height: 500px

  #all-carousel
    .wr-product
      margin-top: 0
    .owl-stage-outer

      padding: 2% 0


  .wr-product
    height: 348px
    transition: .2s

    &:hover
      box-shadow: 0 0 22px rgba(black,.4)
    .add-to-favorite
      &:hover
        color: $orange !important
    .link-info-product
      &:hover
        .hover-effect
          opacity: 1
    .product-img
      height: 170px


  .wr-reviews
    transition: .2s
    .short-info
      height: 125px
      overflow: hidden
      margin-bottom: 20px
    .link-review
      &:hover
        color: darken($green,10)
        i
          margin-left: 10px


  .flex-m-column
    flex-direction: row
  .product-info
    height: 80px
    overflow: hidden

  .wr-price-buy
    padding: 0 20px
    position: absolute

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .wr-reviews
    margin: 0 auto
  .flex-t-column
    flex-direction: row
  #slider
    position: absolute
  .categories
    display: block

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .full-product-info
    .tab-content
      iframe
        height: 700px