@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  body
    font-size: 14px
  .middle-head
    padding: 20px 0
  .top-head
    padding: 20px 0
  .country-tel
    .pol
      margin: 5px
  .enter-shop
    margin: 0


@media only screen and (max-width : 650px)
  .s-tabs
    float: left
    margin-top: 20px
    ul
      li
        font-size: 10px
        margin-left: 5px
        &:first-child
          margin-left: 0



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .cart-image
    width: 30px
    height: 30px
    font-size: 20px
    line-height: 30px
  .main-cart
    font-size: 13px
    margin-top: -5px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

@media only screen and (min-width : 600px)
  #top-slides
    .item
      .old-price
        font-size: 20px
      .price
        font-size: 33px
      .wr-price
        margin-top: 53px
        margin-bottom: 20px
      h2
        font-size: 34px
      p
        font-size: 16px
      .btn-buy
        font-size: 20px
/* Small Devices, Tablets */



@media only screen and (min-width : 768px)
  #all-carousel
    .wr-product
      margin-top: 0
    .owl-stage-outer

      padding: 2% 0

  .wr-product
    height: 348px
    transition: .2s

    &:hover
      box-shadow: 0 0 22px rgba(black,.4)
    .add-to-favorite
      &:hover
        color: $orange !important
    .link-info-product
      &:hover
        .hover-effect
          opacity: 1
    .product-img
      height: 170px
  .flex-m-column
    flex-direction: row
  .product-info
    height: 80px
    overflow: hidden
  .wr-price-buy
    padding: 0 20px
    position: absolute
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .flex-t-column
    flex-direction: row
  #slider
    position: absolute
  .categories
    display: block

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

