@import "vars"

html
  overflow-x: hidden
body
  padding: 0
  margin: 0
  font-size: 16px
  font-family: 'Ubuntu', sans-serif
  line-height: normal
  color: $dark-blue
  background: #f2f2f2
button
  &:focus
    outline: 0 !important

a
  text-decoration: none
  color: $dark-blue
  &:hover,
  &:focus
    text-decoration: none
.flex-row
  display: flex

.flex-j-between
  justify-content: space-between

.flex-j-center
  justify-content: center

.flex-j-around
  justify-content: space-around

.flex-a-center
  align-items: center
.flex-a-top
  align-items: flex-start

.flex-a-bottom
  align-items: flex-end

.flex-m-column
  flex-direction: column

.flex-t-column
  flex-direction: column

.flex-d-column
  flex-direction: column

.inline
  display: inline-block
.v-al-center
  vertical-align: middle

header
  box-shadow: 0 7px 10px rgba(black,.1)
  background: white

.top-head
  padding: 3px 0 0 0
  background: lighten(black,95)
  border-bottom: 1px solid lighten(black,80)

.country-tel
  p
    margin: 0
    color: $dark-blue
  .pol
    height: 30px
    width: 1px
    height: 39px
    background: lighten(black,80)
    margin: 0 25px
  a
    color: $dark-blue

body.modal-open
  overflow-y: hidden !important
  height: 100%


.enter-shop
  display: block
  margin-top: 10px
  background: none
  border: 0
  box-shadow: none
  i
    color: lighten(black,70)
    margin-right: 5px
  &:hover
    color: $green
.middle-head
  padding: 50px 0
.main-logo
  display: block
  width: 100%
  img
    width: 100%
.top-search
  width: 100%
  margin-top: -10px
  &>.pull-right
    width: 70%
    .input-group
      width: 100%
      input
        box-shadow: none
        border: 1px solid lighten(black,80)
        border-right: 0
        color: lighten(black, 60)
        border-radius: 0
        &:focus
          box-shadow: none
          outline: 0
          border: 1px solid lighten(black,80)
          border-right: 0
        &::placeholder
          color: lighten(black, 60)
      button
        border: 1px solid lighten(black,80)
        border-left: 0
        color: lighten(black, 60)
        border-radius: 0
        &:hover,
        &:focus
          box-shadow: none
          background: white
          outline: 0
          border: 1px solid lighten(black,80)
          border-left: 0

.main-cart
  display: block
  margin-top: -10px
.cart-image
  width: 46px
  height: 46px
  background: $green
  border-radius: 50%
  color: white
  font-size: 24px
  text-align: center
  line-height: 46px
  margin-right: 10px
.cart-value
  font-weight: 500
.cart-name
  margin-bottom: 5px
.cart-text
  span
    display: block

.bottom-head
  border-top: 1px solid lighten(black,80)
  padding: 20px
  text-transform: uppercase
  font-weight: 500
  a
    color: lighten(black,45)
    transition: .2s
    &:hover
      color: $green

  .pol
    font-size: 14px
    color: lighten(black,80)

.mobile-bar
  background: none
  font-size: 35px
  padding: 0
  line-height: 0
  outline: 0
  &:focus
    border: 0
    outline: none !important
    box-shadow: none

#category-slider
  position: relative
  margin-top: 15px
.categories
  position: relative
  display: none
  ul
    position: absolute
    width: 100%
    left: 100%
    top: 0
    display: none
  li
    &:hover
      &>ul
        display: block
      &>a
        background: darken($green,5)
        color: white
    ul
      box-shadow: 0 0 10px rgba(black,.1)
      z-index: 3
      min-height: 100%
      background: white
    a
      display: block
      padding: 20px 30px
      background: white
      position: relative
      border-bottom: 1px solid #f1f1f1
      color: #5e5e5e
      transition: 0.1s
    &:last-child
      a
        border-bottom: 0
.cat-head
  background: #7ba50c
  color: white
  text-transform: uppercase
  font-weight: 500
  font-size: 15px
  button
    border: 0
    background: #637f18
    font-size: 27px
    border-radius: 0
    margin-right: 20px
    &:hover,
    &:focus
      color: white
.has-submenu
  &>a
    &:after
      content: '\f0da'
      font-family: 'FontAwesome'
      position: absolute
      font-size: 16px
      top: 50%
      right: 30px
      line-height: 0
#slider
  right: 0
  height: 100%
#wrapper-categories
  z-index: 2
#top-slides
  height: 100%
  .owl-item
    height: 98%
  .item
    height: 100%
    display: block
    padding: 30px
    .old-price
      font-size: 15px
    .price
      font-size: 23px
      .val
        font-weight: bold
    .wr-price
      margin-top: 20px
      margin-bottom: 20px
    h2
      font-size: 24px
      color: #5e5e5e
      line-height: normal
      max-width: 378px
      font-weight: 300
    p
      font-size: 12px
      max-width: 327px
    .btn-buy
      font-size: 13px
    .learn-more
      color: #ec2b1d
    .block-image
      width: 100%
      height: 100%
      position: absolute
      top: 0
      z-index: -1
      left: 0
      img
        width: 100%
        height: 100%
  .owl-stage-outer
    height: 100%
    .owl-stage
      height: 100%
.old-price
  color: #5e5e5e
  position: relative
  background: none
  &:after
    content: ''
    display: block
    width: 104%
    height: 2px
    background: #5e5e5e
    position: absolute
    top: 50%
    left: -2%
    margin-top: -1px
.price
  color: $orange
  display: block
.wr-price
  .currency
    font-size: .7em

.btn-buy
  background: $green
  color: white
  border-bottom: 4px solid #5f7f09
  text-transform: uppercase
  transition: .2s
  i
    margin-right: 10px
  &:hover
    background: #5f7f09
    color: white
  &:focus
    color: white
  &:active
    background: darken($green,15)
.indention
  margin-top: 45px
.s-tabs
  font-size: 14px
  text-transform: uppercase
  color: #909090
  ul
    li
      margin-left: 15px
      display: inline-block
      span
        cursor: pointer
        &:hover
          color: $green
      &.active
        color: $green
.s-title
  text-transform: uppercase
  font-size: 15px
  color: #484848
.hover-effect
  background: rgba(#accb00,.8)
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  color: white
  text-transform: uppercase
  text-align: center
  line-height: 170px
  white-space: nowrap
  opacity: 0
  transition: .3s
  i
    font-size: 13px
.tab-content
  display: none
.wr-product
  margin: 30px auto 0
  max-width: 270px
  background: white
  position: relative
  .discount
    position: absolute
    left: 10px
    top: 10px
    background: rgba(#191919,.7)
    color: #fbbb1b
    text-transform: uppercase
    font-family: 'Open Sans', sans-serif
    font-size: 14px
    z-index: 1
    padding: 3px 10px
    font-weight: 300

  .add-to-favorite
    color: #9d9d9d
    font-size: 26px
    position: absolute
    top: 10px
    right: 10px
    z-index: 2
    transition: .2s
  .product-img
    position: relative
    width: 100%
    height: auto
    overflow: hidden
    img
      min-width: 100%
      height: auto
  .wr-price
    position: relative
  .btn-buy
    font-size: 14px
  .price
    font-size: 20px
    white-space: nowrap
    line-height: 43px
  .old-price
    position: absolute
    top: -5px
    color: #a0a0a0
    &:after
      background: $orange
      height: 1px
  .info-stock
    position: absolute
    top: 0
    left: 0
    z-index: 2
    width: 82px !important
    height: 80px !important
.product-info
  padding: 0 20px
  height: auto
  font-size: 16px
  color: #56585a
  line-height: 25px
  margin-top: 20px
  &:hover
    text-decoration: underline
.wr-price-buy
  padding: 20px
  bottom: 10px
  left: 0
  width: 100%
  box-sizing: border-box

.recommended
  .owl-nav
    font-size: 60px
    color: #accb00
    width: 100%
    &>div
      position: absolute
      top: 50%
      margin-top: -50px
      opacity: .4
      transition: .2s
      &:hover
        opacity: 1
    .owl-prev
      left: -50px
    .owl-next
      right: -50px

.wr-reviews
  width: 100%
  max-width: 270px
  margin: 0 auto 30px
  position: relative
  height: auto
  .product-img
    img
      width: 100%
      min-width: 100%
      height: auto
  .title
    h3
      font-family: 'Open Sans', sans-serif
      font-size: 16px
      color: $dark-blue
      font-weight: normal
      line-height: 25px
  .short-info
    p
      font-family: 'Open Sans', sans-serif
      font-size: 14px
      color: #56585a
      line-height: 25px
  .link-review
    color: $green
    transition: .2s
    i
      transition: .2s

.reviews-blocks
  margin-top: 30px

#subscription
  background: #252634
  padding: 10px 0
  .form-group
    margin: 0
  .icon-mail

    background: white
    box-shadow: none
    color: #bbbbbb
    width: 30px
    overflow: hidden

    text-align: center
    border-right: 0
  input
    border-left: 0
    color: #bbbbbb
    font-family: 'Open Sans', sans-serif
    font-size: 14px
    box-shadow: none
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    &::placeholder
      color: #bbbbbb
      font-family: 'Open Sans', sans-serif
      font-size: 14px
  button
    color: white
    font-family: 'Open Sans', sans-serif
    font-size: 14px
    text-transform: uppercase
    background: $green
    border-color: $green
    margin-left: 20px
    height: 34px

  .text
    color: white
    font-size: 14px
    font-family: 'Open Sans', sans-serif
    text-transform: uppercase
    margin-left: 20px
#inputEmail
  max-width: 284px
#social-links
  padding-top: 5px
  a
    margin: 0 5px
.foot-info
  background: white
  padding: 35px 0
  font-family: 'Open Sans', sans-serif
  .logo-info
    color: #bbbbbb
    font-size: 13px
    margin:  43px 0 0 0
    line-height: 25px

#contacts-footer
  p,a
    color: #bbbbbb
    font-size: 13px
    margin: 0 0 0 10px
  .foot-title
    h5
      text-transform: uppercase
      font-size: 14px
      font-weight: bold
      color: #747373
      margin-bottom: 20px

#payment-delivery-logo
  padding-top: 30px
  img
    display: inline-block
    margin: 10px
#foot-1
  background: #545454
  padding: 30px 0 95px
  font-family: 'Open Sans', sans-serif
  p
    font-size: 12px
    color: #747474
    margin: 30px 0 0
    line-height: 18px
    text-align: justify
  a
    font-size: 14px
    color: #adadad
    margin: 0 10px
    line-height: 20px
    transition: .2s
    &:hover
      color: $orange
#foot-2
  background: #3f3f3f
  color: #d0d0d0
  font-size: 14px
  padding: 30px 0

.not-main
  #slider
    display: none
  #wrapper-categories
    position: absolute
    top: -83px
    z-index: 99
    .categories
      display: none
  .cat-head
    line-height: 68px
    cursor: pointer
    button
      line-height: 47px
  header
    //background: transparent
    //box-shadow: none
.crumbs
  margin-top: 40px
  .position
    margin: 0
    font-size: 35px
    color: #5e5e5e
    text-transform: uppercase
  .link-crumbs
    a
      font-size: 12px
      text-transform: uppercase
      color: #8a8c98
      &:after
        content: '\f105'
        font-family: FontAwesome
        margin: 0 5px
      &:hover
        color: #bad32d
      &:last-child
        color: #bad32d
        cursor: default
        &:after
          content: ''
          margin: 0

.main-image
  width: 100%
  img
    width: 100%
    height: auto


#image-carousel
  margin-top: 35px
  .item
    width: 94px
    height: 94px
    border: 1px solid #bbbbbb
    overflow: hidden
    cursor: pointer
    position: relative
    img
      position: absolute
      left: 50%
      min-width: 100%
      min-height: 100%
      width: auto
      height: 100%
  .owl-nav
    font-size: 20px
    color: #8a8c98
    .owl-next,
    .owl-prev
      opacity: .4
      position: absolute
      top: 50%
      line-height: 0
      margin-top: -12px
      transition: .2s
      &:hover
        opacity: 1
    .owl-next
      right: -30px
    .owl-prev
      left: -30px

.full-product-info
  .product-name
    margin-bottom: 45px
    h2
      font-size: 40px
      font-weight: normal
      color: #252525
      line-height: normal
      margin: 0
    .present
      color: #ec701d
      font-size: 20px
      font-weight: 300
  .top-description
    font-size: 16px
    color: #666666
    line-height: 28px
  .after-class
    &:after
      content: ''
      display: block
      width: 100px
      height: 1px
      background: #77645e
      margin: 35px 0
      opacity: .3
  .properties
    .title
      color: #252525
      margin-bottom: 15px
    input
      display: none
    label
      padding: 10px 15px
      background: white
      margin-right: 10px
      font-size: 16px
      color: #666666
      cursor: pointer
      border-radius: 3px
      border: 1px solid #dadad9
      transition: .2s
      font-weight: normal
      font-family: 'Open Sans', sans-serif
      margin-bottom: 20px
      &:hover
        background: $green
        color: white
        border: 1px solid #566a25
      &.active
        background: $green
        color: white
        border: 1px solid #566a25
  .pr-atribute
    margin-top: 35px
    font-size: 14px
    color: #8a8c98
    line-height: 24px
    span
      color: $dark-blue
  .social-media
    margin-top: -20px
    span
      font-size: 16px
      margin: 0 10px 0 0
    a
      color: $green
      font-size: 14px
      border-radius: 50%
      height: 32px
      width: 32px
      text-align: center
      line-height: 32px
      display: inline-block
      transition: .2s
      &:hover
        background: $green
        color: white
  .block-input-num
    position: relative
  .btn-buy-price
    margin-top: 60px
    input
      text-align: center
      appearance: none
      box-shadow: none
      width: 100px
      height: 65px
      border: 1px solid #dadad9
      font-size: 16px
      background: transparent
      outline: 0
      border-radius: 3px
  .btn-val
    position: absolute
    right: 1px
    height: 50%
    border: 0px
    background: #f2f2f2
    font-size: 16px
    color: #62646c
    &:hover
      color: $green
  .plus
    top: 1px
  .min
    bottom: 1px
  .bnt-buy
    background: #f6830e
    color: white
    box-shadow: inset 0 -4px 0 #b56209
    height: 65px
    padding: 0 35px
    text-transform: uppercase
    font-size: 23px
    margin-left: 30px
    transition: 0.2s
    font-family: 'Open Sans', sans-serif
    &:hover
      background: #b56209
  .price
    font-size: 43px
  .wr-price
    margin-left: 20px
    font-family: 'Open Sans', sans-serif

  .wr-tabs
    ul
      li
        display: inline-block
        border-bottom: 1px solid rgba(#56585a,.3)
        padding: 10px 20px
        color: #56585a
        font-size: 15px
        text-transform: uppercase
        font-weight: normal
        margin-left: -4px
        cursor: pointer
        margin-bottom: 20px
        &.active
          background: $green
          color: white
          border-bottom: 1px solid $green
  .tab-content
    margin-top: 30px
    font-size: 14px
    line-height: 25px
    iframe
      width: 100%
  #go-to-reviews
    background: #dedede
    .count
      color: #8a8c98

#pr-tabs
  margin-top: 120px

#reviews
  h2
    color: #464646
    font-size: 30px
    margin-bottom: 20px
  ul
    li
      .user-img
        height: 70px
        width: 70px
        overflow: hidden
        background: #898989
        margin-bottom: 54px
        img
          width: 100%
          height: auto
      .wr-name-date-text
        margin-left: 50px
        width: 80%

      ul
        margin-left: 98px
  .user-name
    color: #637f18
    font-size: 12px
    margin-right: 30px
  .message-time
    color: #c2c2c2
    font-size: 12px
    margin-right: 30px
  .reply
    color: #a9da28
    transition: .2s
    font-size: 12px
    i
      color: #7ba50c
      margin-left: 6px
    &:hover
      color: #7ba50c
  .message
    margin-top: 18px
    color: #959595
    font-size: 14px
    line-height: 18px
  .load-more
    text-transform: uppercase
    color: white
    border-radius: 0
    -webkit-appearance: none
    border: 0
    border-bottom: 2px solid #c7c9cb
    background: #d3d3d3
    box-shadow: none
    padding: 5px 10px
    transition: .2s
    &:hover
      background: #c7c9cb
  .send-comment
    background: $green
    color: white
    border-radius: 0
    border: 0
    box-shadow: none
    -webkit-appearance: none
    transition: .2s
    &:hover
      background: darken($green,10)
#comment
  input,textarea
    color: #56585a
    -webkit-appearance: none
    background: white
    border: 1px solid #ebebeb
    border-radius: 0
    &::placeholder
      color: #56585a

.recommended-in-product
  .container
    &>.row
      padding: 3% 2%
      width: 106%
      margin-left: -3%
      background: #e7eae9

.page-catalog
  .crumbs
    margin-top: 20px
  #category-slider
    display: none

.wr-most-pop-product
  padding: 25px 0
  display: block
  border-bottom: 1px solid rgba(#8b8c90,.1)
  .pr-image
    max-width: 70px
    height: 70px
    overflow: hidden
    width: 30%
    position: relative
    img
      position: absolute
      top: 0
      left: 50%
      min-width: 100%
      height: 100%
  .pr-info
    width: 65%
    h5
      text-transform: uppercase
      font-size: 14px
      color: #666666
      margin-top: 0
      line-height: 18px
    .wr-price
      font-size: 18px
  &:hover
    h5
      text-decoration: underline
      color: $green

.most-popular
  margin-top: 40px
  .title
    padding-bottom: 5px
    border-bottom: 1px solid rgba(#8b8c90,.3)
    h5
      text-transform: uppercase
      font-size: 14px
      font-weight: normal
      margin: 0
      color: #56585a
#cat-menu-popular
  margin-top: 30px
.cat-menu-products
  .filter
    background: #eaeaea
    padding: 10px
    margin-top: 30px
    color: #8a8c98
    text-transform: uppercase
    .sort
      position: relative
      .wr-selects
        position: absolute
        right: 0
        top: 40px
        width: 260px
        background: white
        z-index: 3
        font-size: 14px
        box-shadow: 0 5px 15px rgba(black,.3)
        display: none
        cursor: pointer
        ul
          margin: 0
          li
            padding: 10px
            border-bottom: 1px solid lighten(black,80)
            &:hover
              background: lighten(black,95)
            &:last-child
              border-bottom: 0
    .block-select
      margin-left: 20px
      width: 260px
      padding: 10px 0 10px 20px
      background: white
      position: relative
      border-radius: 5px
      border: 1px solid #dcdde4
      cursor: pointer
      transition: .3s
      &:hover
        border: 1px solid $green
      .fa
        position: absolute
        right: 10px



    p
      margin: 0
      text-transform: uppercase
      color: #8a8c98
      font-size: 14px
      margin-top: 14px
      span
        color: #252634
  .wr-pagination
    border-top: 1px solid rgba(#b5b7c3,.5)
    padding-top: 30px
    .load-more
      background: transparent
      border: 1px solid $green
      font-size: 16px
      border-radius: 0
      color: #959595
      transition: .2s
      i
        margin-left: 10px
      &:hover
        background: $green
        color: white
    .pagination
      margin: 0
      li
        a
          background: none
          border: 1px solid transparent
          color: #949494
          &:hover
            color: $green
          &.active
            border: 1px solid
            color: $green

.link-news
  max-width: 370px
  display: block
  margin: auto
  margin-bottom: 50px
  .hover-effect
    z-index: 1
    line-height: 268px
  &:hover
    .hover-effect
      opacity: 1
  .title
    font-size: 16px
    color: #56585a
    font-weight: bold
    margin-bottom: 10px
    &:before
      content: ''
      display: block
      width: 70px
      height: 2px
      background: #a9da28
      margin: 30px 0
  .published
    font-size: 14px
    color: $dark-blue
    span
      color: #b5b7c3

  .news-image
    height: 100%
    overflow: hidden
    position: relative
    height: 268px
    img
      position: absolute
      top: 0
      left: 50%
      height: auto
      min-height: 100%
      max-height: 100%
      min-width: 100%
      width: auto
.wr-news
  .pagination
    margin: auto
    background: transparent
    a
      background: transparent
      border: 1px solid transparent
      color: $dark-blue
      &:hover
        background: transparent
        border: 1px solid transparent
        color: $green
      &.active
        border: 1px solid $green
        color: $green



#cont-info
  p,a
    font-size: 15px
    color: #56585a
    margin-left: 20px


  .time-work
    font-size: 16px
    font-weight: 300
    line-height: 30px
    margin: 50px 0 0
    span
      font-size: 23px
#c-user-massage
  width: 100%
  padding: 10px

.map-contacts
  margin-bottom: 40px
  p
    color: #4c4c4c
    font-size: 15px
    line-height: 28px

  input,textarea
    border-radius: 0
    background: white
    border: 1px solid #e3e3e3
    outline: 0
    box-shadow: none
    &::placeholder
      color: #999999
      font-size: 14px
  .has-error
    input,textarea
      border: 1px solid darkred
.btn-send-c-form
  background: $green
  box-shadow: inset 0 -3px 0 #5f7f09
  font-size: 15px
  border: 0
  color: white
  text-transform: uppercase

  &:hover,
  &:focus,
  &:active
    background: #5f7f09
    color: white
.payment-delivery
  margin-bottom: 100px
  p
    font-size: 15px
    line-height: 30px
    color: #8a8c98
    b
      color: #000000
  img
    margin: 20px 20px 20px 0
.infographics
  margin: 80px 0
  .number
    color: #637f18
    font-size: 48px
    font-weight: bold
    margin: 40px 0
    span
      display: block
      text-transform: uppercase
      margin-top: 10px
      font-size: 15px
      font-weight: normal
      color: #8a8c98


.about-company
  font-size: 15px
  line-height: 30px
  color: #8a8c98
  .listing
    li
      margin: 30px 0
      span
        display: inline-block
        width: 90%
        vertical-align: middle
      &:before
        content: '\f05d '
        font-family: FontAwesome
        color: #a9da28
        display: inline-block
        vertical-align: middle
        margin-right: 10px

  margin-bottom: 250px

.question-answer
  margin-bottom: 40px
  .title
    text-transform: uppercase
    color: $green
    font-size: 24px
    font-weight: bold
  .wr-toggle
    padding: 30px 0
    border-bottom: 1px solid rgba(#687076,.2)
    &:last-child
      border-bottom: 0
    &.active
      .question
        color: $green
        &:before
          content: '\f068'

  .question
    font-size: 14px
    color: $dark-blue
    cursor: pointer
    display: flex
    &:hover
      color: $green
    &:before
      content: '\f067'
      font-family: FontAwesome
      font-size: 14px
      margin-right: 40px
      font-weight: 300
      display: inline-block
  .toggle-content
    margin-top: 30px
    color: #687076
    font-size: 14px
    line-height: 28px
    padding-left: 50px




.toggle-content
  display: none

.toggle-title
  cursor: pointer

.table-product
  width: 100%
  margin-bottom: 27px
  .t-image
    width: 15%
    text-align: left
    img
      width: 100%
      max-width: 117px
      height: auto
  .t-name
    width: 33%
    font-size: 14px
    color: $dark-blue
  .t-price
    width: 17%
    font-size: 14px
    color: $dark-blue
  .t-count
    width: 14%
  .t-total
    width: 15%
    font-size: 14px
    color: $dark-blue
    font-weight: bold
  .t-delete
    width: 6%
    color: red
    button
      background: none
      box-shadow: none
      &:hover,
      &:focus
        color: darken(red,20)

  td
    padding: 20px 0
    text-align: center

  tr
    &:first-child
      td
        border-bottom: 1px solid rgba(#b5b7c3,.5)
        color: #b5b7c3
        font-size: 14px
      .t-total
        font-weight: normal
  tr
    &:last-child
      td
        border-bottom: 1px solid rgba(#b5b7c3,.5)


  .input-val
    max-width: 100px
    position: relative
    margin: auto
    input
      outline: 0
      width: 100%
      height: 49px
      text-align: center
      -webkit-appearance: none
      background: #eaeaea
      color: $dark-blue
      border-radius: 3px
      box-shadow: none
      border: 0

    .btn-plus-min
      position: absolute
      height: 50%
      right: 0
      font-size: 14px
      border: 0
      background: #eaeaea
      color: $dark-blue
      &:hover
        color: $green
    .plus
      top: 0
      i
        line-height: 10px
        position: absolute
        right: 7px
        bottom: 0
    .min
      bottom: 0
      i
        line-height: 10px
        position: absolute
        right: 7px
        top: 0
.checkout
  margin-bottom: 50px
  .wr-price
    font-size: 24px
    font-weight: bold
    .total-text
      color: $dark-blue
      font-weight: normal
      font-size: 14px
      margin-right: 10px
.btn-checkout
  margin-top: 50px
  a
    background: #f6550e
    color: white
    text-transform: uppercase
    box-shadow: inset 0 -4px 0 #b56209
    padding: 15px 40px
    transition: .2s
    &:hover
      background: darken(#f6550e,10)
.recommended-in-product
  margin-bottom: 50px
.cart-registration
  border: 1px solid $green
  padding: 30px
  span,a
    font-size: 14px
  span
    color: #62646c
  a
    color: #252634
    font-weight: 500
    &:hover
      color: $green
.step-2
  margin: 10px 0
  .indention-m
    margin: 40px 0 0
  .call-back
    color: $green
  .alert-massage
    color: #ff0066

  .help-block
    color: #404040
    font-size: 16px
    a
      color: #404040
      font-size: 16px
      text-decoration: underline
      &:hover
        color: $green

  input,textarea
    padding: 10px
    border-radius: 0
    outline: 0 !important
    border: 1px solid #e3e3e3
    font-size: 16px
    color: #afafaf
    box-shadow: none
    &::placeholder
      font-size: 16px
      color: #afafaf
    &:focus
      box-shadow: 0 0 10px rgba(#b7b7b8,.25)
      border: 1px solid #e3e3e3

  h2
    margin-top: 40px
    display: flex
    align-items: center
    color: $green
    font-size: 23px
    &:before
      display: block
      background: #7ba50c
      border-radius: 50%
      width: 34px
      height: 34px
      color: white
      text-align: center
      line-height: 34px
      margin-left: -60px
      margin-right: 28px
  .wr-c-info
    &.active
      h2
        &:before
          background: #a9da28
.wr-c-contact-info
  padding-left: 60px
  h2
    &:before
      content: '1'
.wr-c-delivery-info
  padding-left: 60px
  img
    margin: 10px 0 20px
  h2
    &:before
      content: '2'
.wr-c-payment-info
  padding-left: 60px
  h2
    &:before
      content: '3'
#checkout-comment
  width: 100%
  display: none
  margin: 40px 0 0 60px
#add-comment
  font-size: 20px
  text-decoration: underline
  text-transform: uppercase
  margin: 40px 0 0 60px

#inputCity
  max-width: 248px
#inputDepartment
  max-width: 128px
.full-width
  width: 100%
.right-ordered
  td
    font-size: 14px
    padding: 20px 0
  .c-pr-order
    width: 6%
  .c-pr-img
    width: 18%
    img
      max-width: 80px
      width: 100%
      height: auto
  .c-pr-name
    width: 48%
  .c-pr-count
    width: 12%
  .c-pr-total-price
    font-weight: bold
.block-your-order
  background: white
  padding: 30px 30px 60px
  h4
    font-size: 24px
    color: $dark-blue
.status-success
  h1
    font-size: 43px
    color: #a9da28
  h3
    color: #62646c
    font-size: 24px
#status-text
  border-bottom: 1px solid rgba(#b5b7c3,.5)
  padding-bottom: 50px


.t-title
  text-transform: uppercase
  font-size: 16px
  color: $dark-blue
.t-value
  color: #8a8c98
  margin-bottom: 30px
  display: block
.continue
  background: $green
  box-shadow: inset 0 -3px 0 #5e7c0e
  color: white
  text-transform: uppercase
  font-size: 14px
  border-radius: 0px
  padding: 10px 40px
  margin: 50px 0
  &:hover
    background: darken($green,10)
    color: white
.status-order
  p
    color: #62646c
    font-size: 14px
    line-height: 28px
.order-success
  .price
    color: #a9da28
    font-size: 24px
    font-weight: bold
    .total-text
      color: #252634
      font-size: 14px
      font-weight: normal

.modal-lg
  max-width: 770px
.modal-body
  padding: 15px 70px
#registration
  .modal-title
    text-transform: uppercase
    color: $green
    font-size: 19px
    margin-top: 20px
  .modal-header
    border-bottom: 0
  .has-error
    input
      border: 1px solid red !important

  .form-group
    max-width: 220px
    margin-left: auto
    margin-right: auto
    width: 100%
    input
      background: #fafafa
      border: 1px solid #e3e3e3
      color: #afafaf
      box-shadow: none
      height: 44px
      border-radius: 0
      width: 100%
      box-sizing: border-box
      &::placeholder
        color: #afafaf
      &:focus
        box-shadow: 0 10px 13px #cccccc

#p-sign-in
  padding-top: 15px
  form
    button
      background: #a9da28
      color: #637f18
      font-size: 15px
      box-shadow: inset 0 -3px 0 #688912
      text-transform: uppercase
      font-weight: bold
      border-radius: 0
      padding: 10px 30px
      margin-top: 15px
  img
    width: 100%
    max-width: 161px
    margin-bottom: 9px
  .btns-soc
    width: 220px
    height: 42px
    color: white
    margin-bottom: 20px
    position: relative
    font-size: 13px
    font-family: 'Open Sans', sans-serif
    padding-left: 50px
    transition: .2s
    span
      position: absolute
      left: 0
      top: 0
      line-height: 42px
      width: 45px
      height: 100%
      background: rgba(black,.2)
      font-size: 17px

    b
      font-size: 17px

#btn-facebook
  background:  #3d5b96
  &:hover
    background: darken(#3d5b96,10)
#btn-google
  background:  #ec2b1d
  &:hover
    background: darken(#ec2b1d,10)
#btn-vk
  background:  #80a7c9
  &:hover
    background: darken(#80a7c9,10)
#p-registration
  h4
    color: #747373
    text-transform: uppercase
    margin-bottom: 60px
  .btn
    background: #f6550e
    color: white
    font-size: 15px
    font-weight: bold
    box-shadow: inset 0 -5px 0 #b56209
    margin: 20px auto
    padding: 10px 30px
    border-radius: 0

#r-inputPasswordConfirm
  margin-top: 15px


#forget-pass-link,.lav
  color: #747373
  font-size: 14px
  font-family: 'Open Sans', sans-serif
  font-weight: normal
  &:hover
    color: white
.product-modal
  .modal-content
    padding: 50px 40px
  .bnt-close
    margin-top: -35px
    margin-right: -20px


.cur-product-top
  border-top: 1px dashed   rgba(#747373,.4)
  border-bottom: 1px dashed   rgba(#747373,.4)
  padding-top: 20px
  padding-bottom: 20px
  .wr-price
    font-size: 25px
    font-weight: bold
    .price
      color: #ec2b1d
  .img-suc
    vertical-align: top
  .wr-pr-image
    width: 175px
    height: 175px
    overflow: hidden
    position: relative
    margin: auto
    img
      position: absolute
      top: 0
      left: 0
      min-height: 100%
      width: auto
.m-pr-title
  color: #f38078
  text-transform: uppercase
  font-size: 18px
  max-width: 300px
  font-family: 'Open Sans', sans-serif
  margin: 0 0 20px 0
  span
    color: black
    text-transform: initial

.m-checkout,
.m-continue
  margin-top: 20px
  display: block
  text-transform: uppercase
  font-size: 14px
  font-family: 'Open Sans', sans-serif
  transition: .2s
.m-checkout
  background: #f6550e
  color: white
  &:hover
    color: white
    background: darken(#f6550e,10)
.m-continue
  background: #dddddd
  color: #747373
  width: 100%
  &:hover
    color: white
    background: darken(#dddddd,10)
.wr-add-t0-order
  margin-top: 20px
  max-width: 146px
.a-o-image
  width: 146px
  height: 114px
  overflow: hidden
  position: relative
  img
    position: absolute
    left: 0
    top: 0
    min-width: 100%
    height: 100%
.a-o-info
  color: #56585a
  font-size: 14px
  margin: 20px 0
.a-o-price
  .wr-price
    font-size: 25px
    .price
      color: #ec2b1d
.add-to-order
  margin-bottom: 10px
  input
    margin-top: 5px
  label
    font-size: 16px
    color: #8a8c98
    font-weight: normal

@import "media"
